.env
node_modules
dist

alert-engine/node_modules
alert-engine/dist

docker/node_modules
docker/dist

dashboard/node_modules
dashboard/dist

ingestion-api/node_modules
ingestion-api/dist

k8s/node_modules
k8s/dist

query-api/node_modules
query-api/dist

stream-processor/node_modules
stream-processor/dist